
.header{
color: #ecf0f1;

   font-size: 35px;
   padding-top: 25px;
position: relative;

   padding-bottom: 25px;

   background-color: #1e272e;
   width: auto;
   padding-left: 50px;
   font-weight: bold;

}
.small{
   color: #ecf0f1;
   font-size: 15px;
   position: relative;
   text-align: right;
   font-weight: normal;

}