body{
    margin: 0;
    padding: 0;

}
div{
    word-wrap: break-word;
}
.cancel{
    margin-left: 325px;
    margin-top: -50px;
    cursor: pointer;
    }
.box{
    width: 350px;

    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 15px;
}
.box-img{
    background-color: slateblue;
    border-radius: 50px;
    width: 150px;
    height: 100px;
    margin-top: -20px;

}
h1{
    font-size: 25px;
    font-weight: 100;
}
h5{
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
h6{

;
}